<h2>Edit a Workout</h2>

<form action="/workouts/<%= @workout.id %>/edit" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p><label for="date">Date: </label><input id="date" type="date" name="date" value="<%= @workout.date %>"></p>   

    <p><label for="activity">Activity Description: </label><input id="activity" type="textarea" name="activity_description" value="<%= @workout.activity_description %>"></p>

    <p><label for="duration">Duration: </label><input id="duration" type="text" name="duration" value="<%= @workout.duration %>"></p>          
    <input type="submit" value="Edit Workout">
</form>

<br></br>
<a href="/workouts/index">My Workouts</a>
<br></br>
<a href="/users/logout">Log Out</a>
