<h2>Add a Workout</h2>

<form action="/workouts/new" method="post">
    <p><label for="date">Date: </label><input id="date" type="text" name="date" placeholder="Enter date"></p>                          
    <p><label for="activity">Activity Description: </label><input id="activity" type="textarea" name="activity_description" placeholder="Describe Activity"></p>
    <p><label for="duration">Duration: </label><input id="duration" type="text" name="duration" placeholder="Enter duration"></p>          
    <input type="submit" value="Add Workout">
</form>
