    <table>
        <tr>
            <th>Date</th>
            <th>Activity Description</th>
            <th>Duration</th>
        </tr>
            <tr>
                <td><%= @workout.date %></td>
                <td><%= @workout.activity_description %></td>
                <td><%= @workout.duration %></td>
            </tr>
    </table>

<div class="success">
    <% if flash.has?(:success_added) %>
        <br></br>
        <%= flash[:success_added] %>
    <% end %>
</div>

<br></br>
<a href="/workouts/index">My Workouts</a>

<br></br>
<a href="/workouts/new">Add New Workout</a>

<br></br>
<a href="/users/logout">Log Out</a>

<style>
    .success {
        color: green;
    }
</style>