<table align="center">
    <tr>
        <th>Date</th>
        <th>Activity Description</th>
        <th>Duration</th>
        <th></th>
    </tr>
        <tr>
            <td><%= @workout.date %></td>
            <td><%= @workout.activity_description %></td>
            <td><%= @workout.duration %></td>
            <td><a href="/workouts/<%= @workout.id %>/edit">Edit</a></td>
        </tr>
</table>