    <table>
        <tr>
            <th>Date</th>
            <th>Activity Description</th>
            <th>Duration</th>
        </tr>
            <tr>
                <td><%= @workout.date %></td>
                <td><%= @workout.activity_description %></td>
                <td><%= @workout.duration %></td>
            </tr>
    </table>