<form action="/users/login" method="POST">
    <p><label for="username">Username: <input type="text" name="username" placeholder="Enter username"></label></p>
    <p><label for="password">Password: <input type="password" name="password" placeholder="Enter password"></label></p>
    <input type="submit" value="Log In">
</form>