<h2>Sign Up</h2>

<form action="/users/signup" method="POST">

    <div class="field"><input id="username" type="text" name="username" placeholder="Username"></div>

    <div class="field"><input id="email" type="email" name="email" placeholder="Email"></div>

    <div class="field"><input id="password" type="password" name="password" placeholder="Password"></div>

    <input class="button" type="submit" value="Sign Up">
</form>

<a class="faded" href="/users/signin">Already signed up?</a>