<h2>Sign in</h2>
<form action="/users/signin" method="POST">
    <p><label for="username">Username: <input type="text" name="username" placeholder="Enter username"></label></p>
    <p><label for="password">Password: <input type="password" name="password" placeholder="Enter password"></label></p>
    <input class="button" type="submit" value="Sign In">
</form>
<br />
<a class="faded" href="/users/signup">Need to sign up?</a>