<h1>Track your progress</h1>

<h3><a class="button" href="/users/signup">Get Started</a></h3>

<div class="workout-index-row">
    <div class="col-1 center">
        <h2>Effortless Tracker</h2>
        <img src="http://www.zeniavilla.com/images/runner.gif" alt="">
        <div class="index-small-text">
        Manage all of your workouts in one place.
        </div>
    </div>

    <div class="col-1 middle center">
        <h2>Get Stronger, Get Faster</h2>
        <img src="http://www.zeniavilla.com/images/dumbbell.gif" alt="">
        <div class="index-small-text">
            Track your workout activities and design a routine to keep your body guessing.
        </div>
    </div>

    <div class="col-1 center">
        <h2>Fitness Goals</h2>
        <img src="http://www.zeniavilla.com/images/heartrate.gif" alt="">
        <div class="index-small-text">
        An app that can help keep the momentum going and reach your goals.
        </div>
    </div>

</div>

