<h1>Track your progress</h1>

<h3><a class="button" href="/users/signup">Get Started</a></h3>

<div class="success">
    <% if flash.has?(:logged_out) %>
        <%= flash[:logged_out] %>
    <% end %>
</div>