<h1>Track your progress</h1>

<h3><a class="button" href="/users/signup">Get Started</a></h3>

<div class="workout-index-row">
    <div class="col-1 center">
        <h2>Effortless Tracker</h2>
        <img src="https://www.dropbox.com/pri/get/runner.gif?_subject_uid=387431122&raw=1&size=2048x1536&size_mode=3&w=AABc162LXr1aD5T3ftEhqxPdrg2VnK9K5wNr4i71ksBbBg" alt="">
        <div class="index-small-text">
        Manage all of your workouts in one place.
        </div>
    </div>

    <div class="col-1 middle center">
        <h2>Get Stronger, Get Faster</h2>
        <img src="https://www.dropbox.com/pri/get/dumbbell.gif?_subject_uid=387431122&raw=1&size=2048x1536&size_mode=3&w=AACUQxLpZOXAOBUAFNWdfzBB5y_SUgAU1ypExwakW1lgCg" alt="">
        <div class="index-small-text">
            Track your workout activities and design a routine to keep your body guessing.
        </div>
    </div>

    <div class="col-1 center">
        <h2>Fitness Goals</h2>
        <img src="https://www.dropbox.com/pri/get/heartrate.gif?_subject_uid=387431122&raw=1&size=2048x1536&size_mode=3&w=AAD9WCyYSbS-5BB5qlcHRrE4XXk2RqeteqJO44B5i6NbIw" alt="">
        <div class="index-small-text">
        An app that can help keep the momentum going and reach your goals.
        </div>
    </div>

</div>

