<h1>Welcome to Workout Tracker!</h1>

<p>Are you a new user? </p> <a href="/users/signup">Sign Up</a>
<p>Are you a returning user? </p> <a href="/users/login">Log In</a>

<div class="success">
    <% if flash.has?(:logged_out) %>
        <%= flash[:logged_out] %>
    <% end %>
</div>

<style>
    .success {
        color: green;
    }
</style>