<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Workout Tracker</title>
    <meta name="description" content="Workout Tracker">
    <meta name="author" content>
</head>

<body>
    <div id="main">
        <!-- # TODO add persisting Navbar -->
        <div class="navbar">
            <h2>Workout Tracker</h2>
        </div>

        
        <div class="error">
            <% if flash.has?(:error) %>
                <%= flash[:error] %>
            <% end %>
        </div>
        <div class="success">
            <% if flash.has?(:success) %>
                <%= flash[:success] %>
                <% end %>
            <br></br>
        </div>
        
        <%= yield %>
    </div>
</body>
</html>

<style>
    #main {
        text-align: center;
    }

    table {
    border-collapse: separate;
    border-spacing: 50px 0;
    }

    td {
    padding: 10px 0;
    }

    .error {
        color: red;
    }

    .success {
        color: green;
    }

    .navbar {
        background: #fdffff;
        position: relative;
    }
</style>

