<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Workout Tracker</title>
    <meta name="description" content="Workout Tracker">
    <meta name="author" content>
</head>

<body>
    <div id="main">
        <!-- # TODO add persisting Navbar -->
        <div class="navbar">
            <ul>
            <li><h2>Workout Tracker</h2></li>
            <% if logged_in? %>
                
                    <li><a href="/workouts/new">Add Workout</a></li>
                    <li><a href="/workouts/index">View Workouts</a></li>
                    <li class="signout"><a href="/users/signout">Sign Out</a></li>
                
            <% else %>
                
                    <li><a href="/users/signin">Sign In</a></li>
                    <li><a href="/users/signup">Sign Up</a></li>
                </ul>
            <% end %>
        </div>

        
        <div class="error">
            <% if flash.has?(:error) %>
                <%= flash[:error] %>
            <% end %>
        </div>
        <div class="success">
            <% if flash.has?(:success) %>
                <%= flash[:success] %>
                <% end %>
            <br></br>
        </div>
        
        <%= yield %>
    </div>
</body>
</html>

<style>
    @import url('https://fonts.googleapis.com/css?family=Lato');

    #main {
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    table {
        font-size: 1.1em;
        border-spacing: 0;
    }

    th, td {
        padding: 40px 35px;
    }

    tr.workout:hover {background-color: #F7F7F7}

    .error {
        color: red;
        padding-top: 40px;
    }

    .success {
        color: green;
    }

    .navbar {
        background: #fdffff;
        position: relative;
        height: 15px;
        padding-bottom: 10px;
    }

    .navbar li {
        display: inline-block;
    }

    .navbar li h2 {
        padding-right: 20px;
        color: #b23333;
    }

    .navbar a {
        text-decoration: none;
        color: black;
        padding-right: 15px;
    }
    .navbar a:hover {
        color: #b23333;
    }

    .signout {
        padding-left: 100px;
        text-transform: uppercase;
    }

    h1 {
        font-size: 3em;
        font-weight: lighter;
        line-height: 80px;
        padding-top: 20px;
    }

    h2 {
        color: #c45858;
    }

    a {
        text-decoration: none;
    }

    .faded {
        color: grey;
    }

    .button {
        background: #b23333;
        color: white;
        font-size: 1em;
        padding: 15px 30px;
        border: 0;
        cursor: pointer;
    }

    .button:hover {
        background: #c45858;
    }
</style>

