<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content>
</head>

<body>
    <!-- # TODO add persisting Navbar -->
    <h1>Workout Tracker</h1>
    <div class="error">
        <% if flash.has?(:error_signup) %>
            <%= flash[:error_signup] %>
        <br></br>
        <% end %>
    </div>
</body>
</html>